  *, *:after, *:before {
          margin: 0;
           padding:  0;
           box-sizing: border-box;
        }

  .container
  {width: 308px;
  	height: 412px;
  	margin: auto;
	background-image: url("images/john.png");
	z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
  	/*position: relative;*/
  }
  .rowbox
  {
  }

	.box
  {
  	width: 100px;
  	height: 100px;
  	display: inline-block;
  	/*position:absolute;*/
  }
  .cover
  {background-image: url("images/AChat_academypgh.jpg");
  		background-repeat: no-repeat;
       background-size: cover;
	   border:solid mediumblue 2px;
}

  .transparent
  {
  	background-color: transparent;
  }

  .josh
  {background: url("images/josh.png");
  background-repeat: no-repeat;
        	background-size: cover;
        	 }
  .caitlin
{background: url("images/caitlin.png");
 background-repeat: no-repeat;
        	background-size: cover; }

  .jean
{background: url("images/jean.png");
 background-repeat: no-repeat;
        	background-size: cover; }
  
  .orion
{background: url("images/orion.png");
 background-repeat: no-repeat;
        	background-size: cover; }
  
  .link
{background: url("images/link.png"); 
 background-repeat: no-repeat;
        	background-size: cover;}
  .bridget
 
  {background: url("images/bridget.png");
   background-repeat: no-repeat;
        	background-size: cover; }

